{{>partials/header}}
<p><h2>Livros Salvos</h2></p>
<div class="container-book">
    {{#BdBook}}
    <div class="view-book">
            <h2>{{ title }}</h2>
            <div class="book-body">
                <p>autor:{{ author }}</P>
                <p>genero:{{ genre }}</P>
            </div>
        </div>
    {{/BdBook}}
</div>

{{^BdBook}}
<div class="container no-list">
    <h2>Sem livros disponíveis</h2>
</div>
{{/BdBook}}
{{>partials/footer}}