<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookstore</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
<header>
    <div class="container">
        <a href="/">bookstore</a>
        <form method="GET" action="/search">
            <input type="search" name="q" placeholder="Pesquise livro" value="{{ query }}" />
        </form>
    </div>
</header>
<nav>
    <ul>
        <li class=""><a href="/">HOME</a></li>
        <li class=""><a href="/bookstore">Bookstore</a></li>
        <li class=""><a href="/mybook">ADD-BOOKS</a></li>
        <li class=""><a href="/">Sobre</a></li>
    </ul>
</nav>